<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appGrabacion">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Permiso para iniciar Foreground Services en Android 9+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Permisos nuevos para foreground services a partir de Android 14 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <!-- Indicar que la cámara no es obligatoria -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <application
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:label="Calculadora"
        android:supportsRtl="true"
        android:icon="@drawable/miniatura"
        android:roundIcon="@drawable/miniatura"
        android:theme="@style/Theme.Calculadora_Front">

        <activity
            android:name="com.example.appGrabacion.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.example.appGrabacion.MicrophoneService"
            android:exported="true"
            android:foregroundServiceType="microphone" />


    </application>
</manifest>
