name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: SSH & Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            logger -t GH-Deploy "=== Iniciando despliegue Docker ==="
            cd /home/${{ secrets.EC2_USER }}/TFG-Somos-M-s/Back-end

            # Construye la imagen
            logger -t GH-Deploy "Construyendo imagen Docker"
            docker build -t tfg-backend:latest .

            # Para y elimina el contenedor viejo
            logger -t GH-Deploy "Deteniendo contenedor existente"
            docker rm -f tfg-backend || true

            # Inicia el contenedor nuevo
            logger -t GH-Deploy "Iniciando contenedor Docker"
            docker run -d \
              --name tfg-backend \
              -p 80:3000 \
              --restart unless-stopped \
              tfg-backend:latest

            logger -t GH-Deploy "=== Despliegue Docker completado ==="
