name: CI/CD Pipeline for Node.js and Docker on EC2

on:
  push:
    branches:
      - main # Cambia por la rama que prefieras, como 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest  # Usa Ubuntu como sistema operativo para el runner

    steps:
    # 1. Checkout del código
    - name: Checkout code
      uses: actions/checkout@v2

    # 3. Conectarse al servidor EC2 y realizar las acciones
    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.EC2_HOST }}             # Dirección IP pública de tu servidor EC2
        username: ${{ secrets.EC2_USERNAME }}     # Usuario de tu instancia EC2 (generalmente 'ubuntu')
        key: ${{ secrets.EC2_SSH_KEY }}           # Clave privada para conectarte al servidor EC2
        port: 22
        script: |
          # Cambia al directorio del proyecto en el servidor
          cd /home/ubuntu/GrabacionAudioVideoConseguido/Back-End
          
          # Actualiza el repositorio con los últimos cambios
          git pull origin main

          # Construye una nueva imagen Docker directamente en el servidor
          docker build -t my-node-app .

          # Detén y elimina el contenedor existente (si lo hay)
          docker stop my-running-container || true
          docker rm my-running-container || true

          # Ejecuta el nuevo contenedor
          docker run -d --name my-running-container -p 3000:3000 my-node-app
